<% provide(:title, 'About us') %>

<!DOCTYPE html>
<html>

	<head>
		<title>Trasplante Hepatico | <%= yield(:title) %></title>
	</head>

	<body>
		<div class="center hero-unit">
		<br>
		<br>
		<h1>Sobre Nosotros</h1>
		<br>
		<br>
		<br>
		<br>
		<p>
		El Programa de Trasplante Hepático comenzó en el año ....
		</p>
		<br>
		<br>
		<br>

	</body>

</html>

