<% provide(:title, 'Help') %>

<!DOCTYPE html>
<html>
	<head>
		<title>Trasplante Hepático | <%= yield(:title) %></title>
	</head>
	<body>
		<div class="center hero-unit">
		<br>
		<br>
		<h1>Ayuda</h1>
		<br>
		<br>
		<br>
		<br>
		<p> Encontrará ayuda en .... </p>
		<br>
		<br>
		<br>


	</body>
</html>


